body {
  background-color: white;
  }

  div {
    position: fixed; /* or absolute */
    left: 30%;
    width: 300px;
    border: 25px solid gold;
    padding: 25px;
    margin: 25px;
    color: rgb(255, 179, 102);
    background-color: rgb(204, 255, 255);
    text-align: center;
}

h1{
  color: black;
}

.low-usage {
  color: rgb(133, 224, 133);
}
.medium-usage {
  color: black;
}
.high-usage {
  color: rgb(255, 153, 128);
}

[id = 'power-saving'] {
  color: blue
}

.on {
  color: blue;

}

.off {
  color: red;

}
