body {
  background-color: white;
  }

  div {
    position: fixed; /* or absolute */
    left: 30%;
    width: 300px;
    border: 25px solid black;
    padding: 25px;
    margin: 25px;
    color: white;
    background-color: rgb(0, 0, 100);
    text-align: center;
}

h1{
  color: black;
}

.low-usage {
  color: green;
}
.medium-usage {
  color: black;
}
.high-usage {
  color: red;
}
